{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class = 'b' style='width:1100px'>
</div>
<div class="text-center" style='width:900px; margin:auto'>
    <br><h1 class='display-3 text-center'>All About Us</h1><br>
    <h5>Mission Statement</h5>
    <i>"Combine resources, intelligence, and power to more effectively <br> engage the heroin/opioid threat to the state of Utah."</i>
    <br>
    <br>
    <br>
    <h5>FAQs</h5>
    <div class="row">
        <div class="column text-center">
            <h6>What are the benefits to prescribing opioids?</h6>
            <i>Prescription opioids can be used to help relieve moderate-to-severe pain and are often prescribed following a surgery or injury, or for certain health conditions.</i><br><br>
            <h6>What are the negative side effects to prescribing opioids?</h6>
            <i>Besides the common side effects, opioids also cause physical dependence, possible addiciton, and overdose.</i>
        </div>
        <div class="column text-center">
            <h6>What are the alternative options to opioids?</h6>
            <i>Nonsteriodal anti-inflammatories, acetaminophen, and non-opioid prescription medications are available.</i><br><br>
            <h6>Do prescribers benefit from prescribing opioids?</h6>
            <i>The more opioids a doctor prescribes, the more money he or she gets paid by those same manufacturers, according to a new analysis from <a href="https://www.hsph.harvard.edu/news/hsph-in-the-news/opioids-doctors-prescriptions-payments/" target="_blank">Harvard</a>.</i>
        </div>
    </div><br><br>
    <h5>Why Are We So Passionate?</h5>
    <div class="row">
        <div class="column3 text-center"><br>
            <h3>199</h3>
            <p>People die each day in the United States from an Opioid Overdose.</p>
        </div>
        <div class="column3 text-center"><br>
            <h3>27</h3>
            <p>States where overdose deaths increased by over 30% in 2020.</p>
        </div>
        <div class="column3 text-center"><br>
            <h3>33%</h3>
            <p>More people die from drug overdoses than by firearms and murders combined in the state of Utah.</p>
        </div>
    </div>



</div>
{% endblock %}