{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br><h1 class='display-4 text-center'>Explore</h1>
    {% comment %} <form method=POST action="{% url 'resultsPres' %}">
        {% csrf_token %}
        <input type='search' placeholder='Search Prescribers or Drugs' name='searched' size='25'>
        <button type='submit'>Search Prescribers</button>
        <button type='submit' formaction="{% url 'resultsDrug' %}" formmethod="POST">Search Drugs</button>
    </form> {% endcomment %}
    <form method=POST action="{% url 'resultsPres' %}">
        {% csrf_token %}
        <div class="row justify-content-center">
            <input class= list="ddlcomplete" placeholder='Search Prescribers or Drugs' name='searched' size='32'>
            <datalist id="ddlcomplete">
                {% for pres in prescriber %}
                    <option>{{ pres.fname }} {{ pres.lname }}</option>
                {% endfor %}
                {% for drug in drugs %}
                    <option>{{ drug.drugname|title }}</option>
                {% endfor %}
            </datalist>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-outline-primary text-center" type='submit'>Search Prescribers</button>
            <button class="btn btn-outline-primary text-center" type='submit' formaction="{% url 'resultsDrug' %}" formmethod="POST">Search Drugs</button>
        </div>
    </form>
    <div class='text-center'>
        <br><h3>Top 5 Prescribers</h3>
            {% for pres in prescriber|slice:':5' %}
                <a href="{% url 'prescriber' id=pres.npi %}">{{ pres.fname }} {{ pres.lname }}</a>: {{ pres.totalprescriptions }}<br>
            {% endfor %}<br>
        <h3>Top 5 Most Prescribed Drugs</h3>
            {% for drug in drugs|slice:':5' %}
                <a href="{% url 'drug' name=drug.drugname %}">{{ drug.drugname|title }}</a>: {{drug.qty}}<br>
            {% endfor %}
    </div>
{% endblock %}